################################################################################
# Данный GITIGNORE-файл был автоматически создан Microsoft(R) Visual Studio.
################################################################################

*.cs
*.csproj
*.cache
*.json
*.targets
*.dll
*.props
*.v2
*.editorconfig
*.suo
*.sln
*.exe
*.pdb
*.txt
*.sqlite
