################################################################################
# Данный GITIGNORE-файл был автоматически создан Microsoft(R) Visual Studio.
################################################################################

*.cs
*.csproj
*.cache
*.json
*.targets
/Lesson_4/Lesson_4/obj
/Lesson_5/.vs/Lesson_5/v16
*.dll
*.props
*.v2
*.editorconfig
*.suo
*.sln
*.exe
*.pdb
*.txt
*.sqlite
